<nav>
    <a href="/">Home</a>
    <a href="/rooms/<%=hotel._id%>/<%= allRooms[0]._id %>">Room One</a>
    <a href="/rooms/<%=hotel._id%>/<%= allRooms[1]._id %>">Room Two</a>
    <a href="/rooms/<%=hotel._id%>/<%= allRooms[2]._id %>">Room Three</a>
</nav>