<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css">
    <script src="/rooms.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1 class="navHotel"> <%= hotel.location %> </h1>
        <a class="navHome nav" href="/"><h1> Home </h1></a>
        <a class="navAccounts nav" href="/users"><h1>Accounts</h1></a>
        <a class="reserve nav" href="/rooms/<%=hotel._id%>/<%=room._id%>/edit"><h1> Book Room </h1></a>
    </div>
    <img class="keyPhoto" src="<%= room.imageAddress %>" alt="Nautical Room">
    <div class="about">
        <h3>About Hotel California</h3>
        <hr>
        <p class="thisHotel">This is the best hotel. A wonderful hotel. I can't think of a better
            hotel. It really is, this best. All those other hotels? Garbage. Dirt. They deserve
            to be called motels. But this hotel? Incredbile experience. I would go here everytime. 
            I had the time of my life. 
        </p>
        <hr>
    </div>
    <div class="showCase">
        <h1 class="randShow">Photos</h1>
            <div class="showpages">
                <img class="bath showImg left" src="https://images.stockfreeimages.com/1720/sfixl/17209488.jpg" alt="bathroom">
                <img class="balcony showImg center" src="https://images.stockfreeimages.com/1424/sfixl/14245968.jpg" alt="balcony">
                <img class="kitchen showImg right" src="https://images.stockfreeimages.com/670/sfixl/6704863.jpg" alt="kitchen">
            </div>
    </div>
    <div class="last">
        <p> < </p>
    </div>
    <div class="next">
        <p> > </p>
    </div>
    <div class="leftSide">
        <div class="beds">
            <h3> BEDS</h3>
            <p><%= room.bedCount %></p>
            <hr>
        </div>
        <div class="size">
            <h3>SIZE</h3>
            <p>452-474 sq. ft.</p>
            <hr>
        </div>
        <div class="views">
            <h3>VIEWS</h3>
            <p>resort views</p>
            <hr>
        </div>
        </div>
    <div class="rightSide">
        <div class="occupancy">
            <h3>OCCUPANCY</h3>
            <p>x adults, x children</p>
            <hr>
        </div>
        <div class="bathroom">
            <h3>BATHROOM</h3>
            <p> one full tile bathroom</p>
            <hr>
        </div>
        <div class="unique features">
            <h3>UNIQUE FEATURES</h3>
            <p><%= room.keyFeatures %></p>
            <hr>
        </div>
    </div>
    <footer class="foot">
        <h3 class="foot">ma insta, ma twitt, ma contact info</h3>
    </footer>
</body>
